@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
:root {
  --logo-color: #555555;
  --darker-grey: #777777;
  --ligher-grey: #c4c4c4;
  --light-grey: #cccccc;
  --lighest-grey: #f9f9f9;
  --background-grey: #e9e9e9;
  --green-color: #7cc576;
  --news-section: #ececec;
}

::-moz-focus-inner {
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 0;
}

body {
  font-family: Montserrat;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.section {
  padding: 30px 10px;
}

@media screen and (min-width: 481px) {
  .section {
    padding: 30px 20px;
  }
}

@media screen and (min-width: 769px) {
  .section {
    padding: 60px 30px;
  }
}

@media screen and (min-width: 1025px) {
  .section {
    padding: 100px 0;
  }
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #fff;
  letter-spacing: -4px;
  margin-bottom: 10px;
}

@media screen and (min-width: 481px) {
  h1 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 60px;
    margin-bottom: 30px;
  }
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  letter-spacing: -3px;
  color: #000;
}

@media screen and (min-width: 481px) {
  h2 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) {
  h2 {
    font-size: 40px;
    margin-bottom: 12px;
  }
}

h3 {
  font-size: 16px;
  color: #000;
  word-spacing: -1px;
  letter-spacing: -1px;
}

@media screen and (min-width: 481px) {
  h3 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) {
  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.subtitle {
  font-family: Roboto Slab, sans-serif;
  font-size: 14px;
  color: var(--darker-grey);
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 481px) {
  .subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1025px) {
  .subtitle {
    font-size: 20px;
    margin-bottom: 54px;
  }
}

.description {
  font-family: Roboto Slab, sans-serif;
  font-size: 14px;
  color: var(--darker-grey);
  text-align: center;
}

.button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rounded_button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--green-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1px;
  word-spacing: -1px;
  text-shadow: 0 1px 1px #000;
  padding: 20px 32px;
  border-radius: 30px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

.rounded_button:focus,
.rounded_button:hover {
  -webkit-box-shadow: 0 0 0 3px var(--green-color);
          box-shadow: 0 0 0 3px var(--green-color);
}

.nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  margin-block: 10px;
}

@media screen and (min-width: 769px) {
  .nav_container {
    margin-block: 30px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--logo-color);
}

.nav_list {
  list-style: none;
  display: none;
}

@media screen and (min-width: 769px) {
  .nav_list {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav_list a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--darker-grey);
}

.nav_list a {
  position: relative;
}

.nav_list a::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--green-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.nav_list a:hover::before,
.nav_list a:focus::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav_list a:active::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.nav_button {
  background-color: transparent;
  border: 0;
}

.nav_button .nav_icon {
  font-size: 34px;
}

@media screen and (min-width: 769px) {
  .nav_button {
    display: none;
  }
}

.section_solutions {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/Background.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 0;
}

.solutions_subtitle {
  color: var(--light-grey);
}

.services_col:not(:last-of-type) {
  margin-bottom: 40px;
}

@media screen and (min-width: 769px) {
  .services_col:not(:last-of-type) {
    margin-bottom: 0;
  }
}

.services_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 769px) {
  .services_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-inline: 10px;
  max-width: 320px;
}

.services_col img {
  margin-bottom: 16px;
}

@media screen and (min-width: 769px) {
  .services_col img {
    margin-bottom: 32px;
  }
}

.section_relax {
  padding: 0;
}

.relax_container {
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.relax_col1 {
  background-color: var(--background-grey);
  background-image: url(../img/gear.png);
  background-repeat: no-repeat;
  background-position: right center;
}

@media screen and (min-width: 769px) {
  .relax_col1 {
    width: 30%;
  }
}

.relax_col2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/Background-Relax.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Background-Relax.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

@media screen and (min-width: 769px) {
  .relax_col2 {
    width: 70%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 60px 40px;
  }
}

@media screen and (min-width: 1025px) {
  .relax_col2 {
    padding: 90px 70px;
  }
}

@media screen and (min-width: 1280px) {
  .relax_col2 {
    padding: 90px 220px 90px 90px;
  }
}

.relax_h2 {
  color: #fff;
}

@media screen and (min-width: 769px) {
  .relax_h2 {
    text-align: left;
  }
}

.relax_h2_span {
  color: var(--green-color);
}

.relax_subtitle {
  font-size: 14px;
}

@media screen and (min-width: 769px) {
  .relax_subtitle {
    text-align: left;
    font-size: 16px;
    padding: 0;
  }
}

.relax_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.relax_list li {
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .relax_list li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.li_subtitles {
  margin: 0;
  font-size: 16px;
}

.section_project {
  margin: 0;
}

@media screen and (min-width: 769px) {
  .section_project {
    background-image: url(../img/iPadAir.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40%;
  }
}

@media screen and (min-width: 769px) {
  .box_project {
    max-width: 55%;
  }
}

.links {
  text-decoration: none;
  color: var(--green-color);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.links:hover {
  color: #555555;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 20px !important;
}

.prj_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14px;
}

@media screen and (min-width: 769px) {
  .prj_item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.project_title,
.project_subtitle,
.project_description {
  margin: 0;
}

@media screen and (min-width: 769px) {
  .project_title,
  .project_subtitle,
  .project_description {
    text-align: left;
  }
}

.project_subtitle,
.project_description {
  font-size: 16px;
}

.project_subtitle {
  padding-bottom: 26px;
}

.prj_icon {
  margin-bottom: 14px;
}

@media screen and (min-width: 769px) {
  .prj_text {
    padding-left: 14px;
  }
}

.prj_text h3:first-child {
  text-transform: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_culture {
  background-color: var(--lighest-grey);
}

.box_culture {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 769px) {
  .box_culture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.culture_item {
  position: relative;
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .culture_item:not(:last-of-type)::after {
    position: absolute;
    content: "";
    width: 25%;
    height: 2px;
    top: 20%;
    left: 75%;
    background-color: var(--darker-grey);
  }
  .culture_item:not(:first-of-type)::before {
    position: absolute;
    content: "";
    width: 25%;
    height: 2px;
    top: 20%;
    right: 75%;
    background-color: var(--darker-grey);
  }
}

.culture_icon {
  max-width: 73px;
  margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .culture_icon {
    max-width: none;
  }
}

@media screen and (min-width: 769px) {
  .culture_description {
    padding: 0 10px;
  }
}

.img_client {
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}

@media screen and (min-width: 1025px) {
  .img_client {
    max-width: 220px;
  }
}

.item_clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .item_clients {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 40px auto;
  }
}

.bubble_client {
  background-color: var(--lighest-grey);
  position: relative;
  margin-bottom: 20px;
  padding: 10px 20px;
}

@media screen and (min-width: 769px) {
  .bubble_client {
    max-width: 500px;
    padding: 20px 30px;
  }
}

@media screen and (min-width: 1025px) {
  .bubble_client {
    max-width: 640px;
    padding: 30px 40px;
  }
}

.client_text {
  font-family: Roboto Slab, sans-serif;
  color: var(--darker-grey);
  font-size: 14px;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 481px) {
  .client_text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1025px) {
  .client_text {
    font-size: 22px;
    margin-bottom: 16px;
  }
}

.client_name {
  font-family: Roboto Slab, sans-serif;
  color: var(--green-color);
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 481px) {
  .client_name {
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) {
  .client_name {
    font-size: 18px;
  }
}

.item_order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 769px) {
  .item_order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.arrow-left::before,
.arrow-right::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: calc(50% - 16px);
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid var(--lighest-grey);
}

@media screen and (min-width: 769px) {
  .arrow-left::before {
    bottom: calc(50% - 16px);
    left: -40px;
    border-left: 20px solid transparent;
    border-right: 20px solid var(--lighest-grey);
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
}

@media screen and (min-width: 769px) {
  .arrow-right::before {
    bottom: calc(50% - 16px);
    left: 100%;
    border-left: 20px solid var(--lighest-grey);
    border-right: 20px solid transparent;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
}

.section_contact_us {
  background-color: var(--green-color);
}

.title_contact_us {
  color: #fff;
  margin-bottom: 24px;
}

.btn_contact_us {
  border: 2px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: var(--green-color);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  word-spacing: -1px;
  padding: 16px 26px;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn_contact_us:hover {
  border: 2px solid #fff;
  background-color: var(--green-color);
  color: #fff;
}

.logos_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logos_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo_img {
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  max-height: 42px;
  max-width: 180px;
  margin: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.logo_img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.section_news {
  background-color: #000;
}

.news_container {
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .news_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news_container > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.news_col {
  padding: 0 16px;
}

.title-news {
  color: #fff;
  margin-bottom: 26px;
}

.news_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 16px;
}

.icon-wrapper {
  margin-right: 20px;
  width: 24px;
}

.section_news i.fas,
.section_news i.far,
.section_news i.fab {
  width: 100%;
  text-align: right;
}

.section_news i.fas::before,
.section_news i.far::before,
.section_news i.fab::before {
  font-size: 30px;
  color: var(--news-section);
}

.adress_txt,
.posts_txt,
.twitter_post {
  text-decoration: none;
  font-family: Roboto Slab, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--news-section);
  vertical-align: middle;
}

.twitter_post-bold {
  font-weight: 700;
  margin-bottom: 6px;
}

.twitter_post-small {
  font-size: 12px;
}

.footer {
  max-width: 940px;
  padding: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 481px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.copyrights {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: var(--logo-color);
  margin-bottom: 14px;
}

@media screen and (min-width: 481px) {
  .copyrights {
    width: 40%;
    margin-bottom: 0;
  }
}

footer i.fab {
  background-color: #000;
  border-radius: 40px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  margin-right: 8px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.fa-twitter:hover {
  background-color: #1da1f2;
}

.fa-facebook-f:hover {
  background-color: #1877f2;
}

.fa-pinterest-p:hover {
  background-color: #c8232c;
}

.fa-google-plus-g:hover {
  background-color: #db4a39;
}
/*# sourceMappingURL=style.css.map */