@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
:root {
  --logo-color: #555555;
  --darker-grey: #777777;
  --ligher-grey: #c4c4c4;
  --light-grey: #cccccc;
  --background-grey: #e9e9e9;
  --green-color: #7cc576;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 0;
}

body {
  font-family: Montserrat;
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  margin-block: 30px;
}

@media screen and (min-width: 769px) {
  .section {
    margin-block: 60px;
  }
}

@media screen and (min-width: 1025px) {
  .section {
    margin-block: 100px;
  }
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  letter-spacing: -4px;
  margin-bottom: 10px;
}

@media screen and (min-width: 481px) {
  h1 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) {
  h1 {
    font-size: 60px;
    margin-bottom: 30px;
  }
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

@media screen and (min-width: 481px) {
  h2 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) {
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

@media screen and (min-width: 481px) {
  h3 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) {
  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.subtitle {
  font-family: Roboto Slab, sans-serif;
  font-size: 14px;
  color: var(--darker-grey);
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

@media screen and (min-width: 481px) {
  .subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1025px) {
  .subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.description {
  font-family: Roboto Slab, sans-serif;
  font-size: 14px;
  color: var(--darker-grey);
  text-align: center;
}

.rounded_button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--green-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 1px #000;
  padding: 16px 32px;
  border-radius: 30px;
}

.nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  margin-block: 10px;
}

@media screen and (min-width: 769px) {
  .nav_container {
    margin-block: 30px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--logo-color);
}

.nav_list {
  list-style: none;
  display: none;
}

@media screen and (min-width: 769px) {
  .nav_list {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav_list a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--darker-grey);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.nav_list a:hover,
.nav_list a:target {
  color: #000000;
}

.nav_button {
  background-color: transparent;
  border: 0;
}

.nav_button .nav_icon {
  font-size: 34px;
}

@media screen and (min-width: 769px) {
  .nav_button {
    display: none;
  }
}

.section_solutions {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/Background.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 0;
}

.solutions_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

.solutions_subtitle {
  color: var(--light-grey);
}

.services_col:not(:last-of-type) {
  margin-bottom: 40px;
}

@media screen and (min-width: 769px) {
  .services_col:not(:last-of-type) {
    margin-bottom: 0;
  }
}

.services_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 769px) {
  .services_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.services_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-inline: 10px;
  max-width: 300px;
}

.services_col img {
  margin-bottom: 16px;
}

@media screen and (min-width: 769px) {
  .services_col img {
    margin-bottom: 32px;
  }
}

.relax_container {
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.relax_col1 {
  background-color: var(--background-grey);
  background-image: url(../img/gear.png);
  background-repeat: no-repeat;
  background-position: right center;
}

@media screen and (min-width: 769px) {
  .relax_col1 {
    width: 30%;
  }
}

.relax_col2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/Background-Relax.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Background-Relax.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

@media screen and (min-width: 769px) {
  .relax_col2 {
    width: 70%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 60px 40px;
  }
}

@media screen and (min-width: 1025px) {
  .relax_col2 {
    padding: 90px 90px 90px 90px;
  }
}

@media screen and (min-width: 1280px) {
  .relax_col2 {
    padding: 90px 270px 90px 90px;
  }
}

.relax_h2 {
  color: #fff;
}

@media screen and (min-width: 769px) {
  .relax_h2 {
    text-align: left;
  }
}

.relax_h2_span {
  color: var(--green-color);
}

@media screen and (min-width: 769px) {
  .relax_subtitle {
    text-align: left;
    padding: 0;
  }
}

.relax_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.relax_list li {
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .relax_list li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.li_subtitles {
  margin: 0;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */